.featureWrapper {
	background: white;
}

.contentWrapper {
	width: 100%;
	max-width: 1300px;
	margin: 0px auto;
	padding: 120px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-weight: 500;
	color: var(--black);
	font-size: 48px;
	@media screen and (max-width: 600px) {
		font-size: 24px;
	}
}

.description {
	color: var(--gray);
	margin: 20px 0px 100px 0px;
	max-width: 600px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5rem;
	@media screen and (max-width: 600px) {
		margin: 20px 0px 60px 0px;
		font-size: 14px;
	}
}

.iconImage {
	filter: drop-shadow(0px 16px 60px #9947c6) opacity(80%);
}

.featureTitle {
	color: var(--primary);
	margin: 20px 0px 20px 0px;
	font-weight: 600;
	font-size: 24px;
}

.featureDescription {
	text-align: center;
	color: var(--gray);
	font-size: 14px;
	line-height: 1.5rem;
	padding: 0px 24px;
	margin-bottom: 80px;
	@media screen and (max-width: 600px) {
		margin-bottom: 60px;
	}
}
