:root {
	--black: #333;
	--gray: #6b6b6f;
	--primary: #6e2d91;
	--primary-lighten2: #8536af;
	--primary-footer: #f7e3e8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}
